<app-header></app-header>
<main class="historial-container">
    <div class="card-container">
        <mat-accordion class="acordeon colorizer" *ngFor="let viaje of cadete">
            <mat-expansion-panel class="colorizer" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title >
                Horario<br> {{viaje.travelEquipmentDTOs[viaje.travelEquipmentDTOs.length-1].operationDate.slice(11,16)}}
                </mat-panel-title>
                <mat-panel-description>
                Dirección: {{viaje.travelEquipmentDTOs[0].operator.address}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            Nombre: {{viaje.travelEquipmentDTOs[0].operator.fullName}} <br>
            Equipo: {{viaje.travelEquipmentDTOs[0].equipment.mark}} {{viaje.travelEquipmentDTOs[0].equipment.model}} <br>
            Estado Del Viaje: {{viaje.lastStatusTravel | pipes}}
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</main>

<footer>
    <a (click)="openBottomSheet()">
        <img class="menu-icon" src="../../../../assets/menu.svg" alt="Menu-button">
    </a>
</footer>
