footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    z-index: 999;
}

.card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acordeon{
    width: 300px;
    margin: 20px;
    border-radius: 10px;
}

main{
    width: 100%;
    padding-bottom: 60px
}

.select{
    display: flex;
    justify-content: center;
}

.tabs{
    display: flex;
    align-items: center;
}


.expansion{
    width:100%
}