footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
}

.card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acordeon{
    width: 300px;
    margin: 20px;
}

.colorizer{
    color: red;
    background-color: yellow;
}