.login-title{
    display: flex;
    justify-content: center;
    img{
        width: 30vw;
        max-width: 150px;
        margin-top: 25px;
    }
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    img{
        max-width: 15rem;
        padding: 20px 0 0 18px;
    }
}

.boton-orden{
    text-decoration: none;
    background-color: #4376a0;
}

p{
    margin-top: 10px;
    color: #C7E8F3;
    a{
        text-decoration: none;
        color:#C7E8F3;
        font-weight:500;
    }
} 

.input-form{
    color: #C7E8F3;
}

.iconito{
    color: #C7E8F3;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
}

.footer-logos{
    img{
        max-width: 40px;
        max-height: auto;
        margin: 15px;
    }
    img:hover{
        filter: drop-shadow(0px 0px 5px #f83aa2);
        transform: scale(1.5);
        transition: transform 1s;
    }
}