<section class="login-container">
    <div class="login-title"><img src="../../assets/Logo Color.svg" alt="logo todo it"></div>
    <div class="form-container">
        <form class="login-form"  [formGroup]="loginform" autocomplete="off">
            <img src="../../../assets/lock.svg" alt="Lock Password">

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input class="input-form" matInput formControlName="email" placeholder="Email" required>
                <mat-icon class="iconito" matSuffix>person</mat-icon>
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input class="input-form" type="password" matInput formControlName="password"  placeholder="Contraseña" required>
                <mat-icon class="iconito" matSuffix>lock</mat-icon>
            </mat-form-field>
        
                
            <button class="boton-orden" [disabled]="!loginform.valid" (click)="login()" mat-raised-button >Login</button>
            <div class="not-account">
            </div>
        </form>
    </div>
</section>
