<div class="footer-sheet">
    <mat-nav-list>
    <a routerLink="inicio" mat-list-item (click)="openLink($event)">
      <span mat-line>Inicio</span>
      <span mat-line>Volver al Home</span>
    </a>
  
    <a routerLink="inicio/viajes" mat-list-item (click)="openLink($event)">
      <span mat-line>Viajes</span>
      <span mat-line>Nuevos Viajes y Viajes en Curso</span>
    </a>
  
    <a routerLink="inicio/historial" mat-list-item (click)="openLink($event)">
      <span mat-line>Google Plus</span>
      <span mat-line>Share with your friends</span>
    </a>
  
    </mat-nav-list>
</div>