footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    height: 11rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    //Efecto Glass
    background: rgba(119, 4, 46, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(220, 14, 198, 0.55);
    margin: 10px;
    h3,h4{
        color: white;
        font-weight: 500;
    }
    button{
        background-color: #4376a0;
    }
}
